@charset "utf-8";
.ANNOUNCEMENTS {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-size: x-large;
	text-align: center;
}
.ABOUT {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-align: center;
	font-size: large;
}


.COMPETITION.LADDER {
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	font-size: xx-large;
	text-align: center;
}
.ABOUT.INFO {
	text-align: left;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: x-large;
}

.Sub.Section {
	text-align: center;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	font-size: xx-large;
}

.ANNOUNCEMENTS .HEAD {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-size: xx-large;
}
.CALL.TO.ACTION {
	text-align: center;
}
.COMP.LADDER {
	text-align: center;
	margin-left: 700px;
}
.COMP.LADDER table {
	border-width: medium;
	border-style: ridge;
	font-style: normal;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: large;
}

.TOP {
	text-align: center;
}
.Sign.up.Header {
	text-align: center;
}
.IMAGES.SIGN.UP.PAGE {
	text-align: center;
}

.SIGN.UP.FORM {
	font-style: normal;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-align: left;
	font-size: medium;
}
.Who.Can.Play {
	text-align: center;
}
.WHO.CAN.PLAY.INFO {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: x-large;
	text-align: center;
}
.SIGN.UP.FORM table {
	text-align: left;
	margin-left: 550px;
}



.PG.INFO {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: x-large;
	text-align: center;
}
.PLAYING.GUIDELINES {
	text-align: center;
}
.Contact.Header {
	text-align: center;
}
.Contact.Image {
	text-align: center;
}
.Contact.Info {
	text-align: center;
	font-style: normal;
	font-size: xx-large;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
}
.SUB.LINKS table {
	text-align: center;
	font-size: xx-large;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	margin-left: 550px;
}
.SUB.LINKS {
	text-align: center;
}
.LINKS table {
	text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: xx-large;
	margin-left: 550px;
}
.LINKS {
	text-align: center;
}
.SUB-LINKS table {
	text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: xx-large;
	margin-left: 550px;
}
.SUB-LINKS {
	text-align: center;
}
